*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background: #333;
}

header{
    width: 100%;
    height: 10vh;
    float: left;
    background: #000;
}

.game{
    width: 100%;
    height: 60vh;
    background: #ccc;
    float: left;
    padding: 1%;
}

#cs2{
    background: #DE8315;
}

#valorant{
    background: #F74352;
}

.game h2{
    width: 100%;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    width: 100%;
    height: 20vh;
    background: #000;
}

.skin{
    background: #fff;
    height: 50vh;
    width: 19%;
    float: left;
    margin-left: 12px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
}

.skin img{
    height: 170px;
    width: auto;
    margin-top: 30px;
    border-radius: 15px;
}

#valorant img{
    width: 90%;
    height: auto;
    margin-top: 12vh;
}

#valorant p{
    margin-top: 7vh;   
}


.skin h1{
    margin-top: 30px;
    font-size: 15px;
}

.skin p{
    margin-top: 20px;
    margin-right: 50%;
    font-weight: 600;
}

button{
    background: #3a7d44;
    width: 85%;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
}